@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./components/images/space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
  list-style: none;
  overflow-x: hidden;
}
  /* ///scrollbar// */
