.launch-head{
    font-size: 2.3rem;
    font-weight: bold;
    color: aliceblue;
    text-transform: uppercase;
    background: rgb(49,171,175);
    background: linear-gradient(90deg, rgba(49,171,175,0.9976365546218487) 0%, rgba(4,173,181,1) 27%, rgba(13,211,222,1) 71%, rgba(26,242,255,1) 100%);
    width: 14rem;
    border-radius: 0 1.5rem 1.5rem 0px;
    box-shadow: -1px 3px 15px 3px rgba(49,171,175,0.92);
    -webkit-box-shadow: -1px 3px 15px 3px rgba(49,171,175,0.92);
    -moz-box-shadow: -1px 3px 15px 3px rgba(49,171,175,0.92);
}
.backHome{
    font-size: 1.5rem;
    font-weight: 600;
    padding: .7rem 2.7rem;
    color: #f6f6f6;
    cursor: pointer;
    border-radius: .5rem;
    margin: 2rem 1rem;
    outline: none;
    background: rgb(55,54,54);
background: linear-gradient(90deg, rgba(55,54,54,1) 11%, rgba(154,150,150,1) 46%, rgba(83,83,83,1) 88%, rgba(103,103,103,1) 100%);
}
.mission_name{
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 500;
}
.mission_name span{
    font-size: 1.2rem;
    color: #a5a5a5;
}
.gridBtns{
    display: flex;
    justify-content: space-between;
}
.launch-year{
    color: #fff3f3;
    font-size: 1.3rem;
    
}
.launch-year span{
    font-size: 1.5rem;
    color: #aeafaf;
}
.status{
    color: #d8d8d8;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.success{
    color:#26c826;
}
.danger{
    color: #af1111;
}
.something{
    position: absolute;
    top: 0%;
    left: 35%;
    transform: translate(-50% -50%);
    border: 2px solid #606161;
    background: #383838;
    padding: 1rem;
    color: #fff3f3;
}
.something h3{
    font-size: 1.5rem;
    font-weight: bold;
}
@media only screen and (max-width: 461px){
    .something{
        position: absolute;
        margin: 1.2rem;
        left: 0%;
    }
}
.Details{
    list-style: none;
    width: 100%;
    font-size: 1rem;
    padding: .6rem 1.8rem;
    background: rgb(49,171,175);
    background: linear-gradient(90deg, rgba(49,171,175,0.9976365546218487) 0%, rgba(4,173,181,1) 27%, rgba(13,211,222,1) 71%, rgba(26,242,255,1) 100%);
    border-radius:  6px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #d8d8d8;
    transition: .3s;
}
.Details:hover{
    list-style: none;
    box-shadow: -1px 3px 15px 3px rgba(49,171,175,0.92);
}
.description{
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
}
.description span{
    font-size: 1.4rem;
    color: #b8b8b8;
}

/* /////Launch Details */
.launchDetails{
    font-size: 2rem;
    font-weight: bold;
    color: aliceblue;
    text-transform: uppercase;
    padding:.6rem 0;
    background: rgb(49,171,175);
    background: linear-gradient(90deg, rgba(49,171,175,0.9976365546218487) 0%, rgba(4,173,181,1) 27%, rgba(13,211,222,1) 71%, rgba(26,242,255,1) 100%);
    width: 20rem;
    border-radius: 0 1.5rem 1.5rem 0px;
    box-shadow: -1px 3px 15px 3px rgba(49,171,175,0.92);
    -webkit-box-shadow: -1px 3px 15px 3px rgba(49,171,175,0.92);
    -moz-box-shadow: -1px 3px 15px 3px rgba(49,171,175,0.92);
}
.launchImg{
    width: 100%;
    height: 25rem;
}
.missionDetails{
    font-size: 1.3rem;
    color: #8d8a8a;
    font-weight: 500;
}
.missionDetails span{
    color: #ffffff;
    font-size: 1.5rem;
}
.missionDetails .launchDetailsInfo{
    font-size: 1.2rem;
    color: #ffffff;
}
.dataButton{
    list-style: none;
    font-size: 1.5rem;
    outline: none;
    font-weight: bold;
    color: #cecece; 
    margin-top: 1rem;
    padding: .5rem 3rem;
    transition: .3s;
    float: right;
    background: rgb(49,171,175);
    border-radius: .5rem;
    background: linear-gradient(90deg, rgba(49,171,175,0.9976365546218487) 0%, rgba(4,173,181,1) 27%, rgba(13,211,222,1) 71%, rgba(26,242,255,1) 100%);
}
.dataButton:hover{
    cursor: pointer;
    list-style: none;
}
.wikipedia{
    list-style: none;
   font-size: 1.3rem;
   color: #727473;
}